.heading
{
	text-align:center;
	padding:5px;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.container
{
	height:700px;
	width:700px;
	border:5px solid white;
	border-radius:40px;
	background-color:rgb(157, 228, 75);
	color:black;
	margin:auto;
	margin-top:40px;
	padding:25px;
	font-family:"Poppins", sans-serif;
}
 p
{
	
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    font-weight: bold;
    font-style: italic;
}
.img_container img
{
  height:50px;
   width:50px;
   margin:15px 10px 10px 10px;
    margin-top:10px;
    background-color:black;
    border-radius:5px;
    padding:10px;
   
}
.boxes
{
float:right;
margin:20px 20px 20px 20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border:1px solid #FFF;
border-radius:15px;
padding:8px;
box-shadow:2px 2px 2px 2px gray;
background-color :#fffae6;
color:black;
}
.box
{
  display:inline-block;
}
.boxes:hover
{
padding:10px;
box-shadow:2px 2px 2px 2px gray;
background-color:white;
color:#000033;
font-weight:bold;
transform: scale(1.05);
}
.feed
{
  border: 2px solid white;
  padding: 0.6rem 1.2rem;
  color: black;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  background-color:#fffae6;
 
}
.btn {
  padding: 0.6rem 1.3rem;
  background-color:black;
  border: 2px solid black;
  font-size: 0.95rem;
  color: white;
  line-height: 1;
  border-radius: 25px;
  cursor: pointer;
  float:right;
   overflow:no-overflow;
 margin-left:10px;
}