
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cambria;
}

body{
  font-size: 16px;
  
}

.flex_align_justify{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_align{
  display: flex;
  align-items: center;
}

.wrapper{
  min-height: 100vh;
  padding: 0 20px;
}

.terms_service{
  width: 800px;
  max-width: 100%;
  height: 700px;
  background:#03AC13;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
}

.terms_service .tc_item{
  padding: 20px 40px;
}

.terms_service .tc_head{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  height: 90px;
  color:black !important;
}

.terms_service .tc_head{
  
  color:black;
  margin-right: 20px;
  border-radius: 5%;
  font-size: 18px;
 
}

.terms_service .tc_body{
  height: calc(100% - 170px);
  overflow: auto;
  padding-right: 20px;
  color:#09250a !important;
}

.terms_service .tc_body ol li{
  margin-bottom: 15px;
}

.terms_service .tc_body ol li h3{
  margin-bottom: 5px;
  color:#010201;
}

.terms_service .tc_foot{
  box-shadow: 0 -1px 2px rgba(0,0,0,0.15);
  justify-content: space-between;
  height: 80px;
}

.terms_service .tc_foot button{
  width: 100%;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.terms_service .tc_foot button.decline_btn{
  margin-right: 20px;
  background:#03AC13;
  color:black;
}

.terms_service .tc_foot button.accept_btn{
    background:#03AC13;
    color:black;
}

.terms_service .tc_foot button.decline_btn:hover{
  background:#b3fff0;
  color:#03AC13
  font-weight:bold;
}

.terms_service .tc_foot button.accept_btn:hover{
  background:#b3fff0;
  color:#03AC13
   font-weight:bold;
}